body {
  /*!zmienna globalna*/
  /*!zmienna globalna*/
  background-color: red;
  border: 1px solid green;
  font-family: Arial, Tahoma, sans-serif; }

div {
  font-family: Arial, Tahoma, sans-serif;
  border: solid green;
  border-top: 2px dotted red; }
